/* Стили для экранов шириной до 600px */
@media (max-width: 500px) {
    body{
        background-color: #272727;
    }
    
    h6{
        font-size: 14px;
    }
    .conditions{
        width: 100%;
    }

    .conditions-row{
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        background-color: #e8e2cc;
        border-radius: 10px;
        font-size: 14px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
    }
    .option-1{
        margin-top: 55px;
    }
    
    .fixConteiner{
        position: sticky; /* Позволяет элементу оставаться на месте при скроллинге */
        top: 0; /* Располагает элемент у верхней границы контейнера */
        z-index: 1000; /* Увеличьте значение z-index, чтобы элемент был поверх других */
    }
    
    .result{
        display: flex;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        border-radius: 10px;
        background-color: #e8e2cc;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
    }
    .result.sticky {
        
        background-color: #61483d;
        color: #e8e2cc; /* Цвет текста после закрепления */
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    h4{
      font-size: 14px;  
    }

    .buton{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .btn{
        background-color: #61483d;
        color: #e8e2cc;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
    }
    
    .row{
        display: grid;
        grid-template-rows: 41% 41%;
        
    }
    


    .img-fluid{
        border-top-left-radius: 10px;
        
    }
    .img-description-container{
        
        height: 161px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .description-container{
        background-color: #e8e2cc;
        border-top-right-radius: 10px;   
    }
    .description{
        margin: 0px;
    }
    
    .input-Forms-container{
        display: flex;
        
        text-align: center;
        height: 200px;
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 10px;
    }
    .formCount{
        
        font-size: 14px;
        align-items: center;
        text-align: center;
        background-color: #e8e2cc;
        border-bottom-left-radius: 10px;
        
    }
    
    .LabelForms{
        background-color: #e8e2cc;
        border-bottom-right-radius: 10px;
    }
    .label{
        width: 80%;
        margin-top: 10px;
    }
}  
