/* Стили для экранов шириной до 600px */
@media (max-width: 500px) {
    .conditions {
        display: flex;
        justify-content: center;
        align-items: center; /* Центрирование по вертикали */
        width: 1200px;
        background-color: yellow;
    }
    .conditions-row {
        
        align-items: center; /* Центрирование по вертикали */
        width: 1200px;
        height: 250px;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        background-color: #e8e2cc;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0); /* Тень, чтобы контейнер выделялся на фоне страницы */
    }
    .discont {
        margin-top: 10px;
        text-align: center;
        font-family: '02_NTSomic-Medium';
        color: #61483d;
        font-size: 50px;
    }
    h6 {
        font-family: '02_NTSomic-Medium';
        font-size: 20px;
    }
    .option-1 {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
    }
    .img-logo {
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
    }
    
    /* Стили для фиксированного контейнера */
    .fixConteiner {
        
        display: flex;
        align-items: center; /* Центрирование по вертикали */
        height: 70px;
        width: 1200px;
        position: sticky; /* Позволяет элементу оставаться на месте при скроллинге */
        top: 0; /* Располагает элемент у верхней границы контейнера */
        z-index: 1000; /* Увеличьте значение z-index, чтобы элемент был поверх других */
        
    }
    .fixConteiner.sticky {
        background-color: #61483d /* Цвет фона после закрепления */
    }
    .result {
        display: flex;
        display: grid;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
        grid-template-columns: 33.3% 33.3% 33.3%;
        width: 1200px;
        height: 70px;
        background-color: #e8e2cc;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
        
    }
    .result.sticky {
        width: 1200px;
        background-color: #61483d;
        color: #e8e2cc; /* Цвет текста после закрепления */
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    
    .custom-container{
        
       
        align-items: center; /* Центрирование по вертикали */
        width: 1200px;
        height: 236px;
    }
    
    .row{
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        
        display: grid;
        grid-template-columns: 300px 250px 410px 272px;
        
        
    }


    .buton{
        width: 1200px;
        margin: 20px;
        height: 50px;
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
    }
    .btn{
        border-style:dashed;
        margin: 10px;
        display: flex;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
        height: 40px; /* Увеличил высоту кнопки для лучшего отображения текста */
        width: 210px;
        font-size: 20px;
        background-color: #61483d;
        color: #e8e2cc;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
        display: flex;/
    }
    
}